<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    
    <!-- Add html for homepage here -->
    <div class="container">
        <div class="row full-width align-items-center top-banner text-center" aria-label="The modern man barbershop specialising in chch groomsman barbering and christchurch grooms parties for pre-wedding preparation.">
            <div class="banner-content">
                <h1>Wedding photos, the lifetime commitment everyone sees</h1>
                <p>Book your private Christchurch Groomsman Party and guarantee a flawless look for your whole squad on the big day.</p>
                <a class="btn btn-primary" href="/pages/book/">Book now</a>

                <div class="mt-4">
                    <img style="display:block; margin:0px auto; max-width: 150px;" src="/img/pages/icons/reviews.webp" alt="reviews for modern man barbershop">
                    <p>47 Reviews</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div>
                <h3>What’s included in the Christchurch Groomsman Party Package?</h3>
                <div class="row prices ">
                    <div class="col">
                        <div class="icon">
                            <img src="/img/pages/icons/book-out-barbershop-groomsman-chch.webp" alt="">
                        </div>
                        <p>Private barbershop party</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                            <img src="/img/pages/icons/cut-and-style.webp" alt="">
                        </div>
                        <p>Consult, haircut cut & style</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                        <img src="/img/pages/icons/beard-trim-barbershop.webp" alt="">
                    </div><p>Beard trims</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                        <img src="/img/pages/icons/barbershop-razor.webp" alt="">
                    </div>
                    <p>Cut throat shaves</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                        <img src="/img/pages/icons/groomsman-drinks.webp" alt="">
                        </div>
                    <p>Complementary snacks & drink</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                        <img src="/img/pages/icons/hot.webp" alt="">
                        </div>
                    <p>Hot towel finish</p>
                    </div>
                </div>
                <button class="show-more-button" style="text-decoration: underline; cursor: pointer;" onclick="toggleHiddenDivs()">Show All</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col mob-reverse">
                <h2>Make our barbershop the private pre-game locker room for your groomsmen</h2>
                <p>Step into our premium groomsman lounge, where you and your mates will experience the most top-notch grooming Christchurch has to offer.</p>
                <p>Kick back with a first-class group barbering session, complete with complimentary drinks and snacks to take the edge off the pre-wedding jitters while we take care of the styling. </p>

                <a class="btn btn-primary" href="/pages/book/">Book now</a>
            </div>
            <img class="col-lg-6 col" src="/img/pages/chch-barber-straight-shave.webp" alt="A person getting a straight shave during a groomsman party at modern man barbershop located in barkers at the crossing Christchurch cbd.">
        </div>
        <div class="row">
            <img class="col-lg-6 col" src="/img/pages/chch-cbd-barber-clipper-cut.webp" alt="A man getting a fresh barber haircut during a groomsman party in chch,  wedding preparation and styling at the modern man barbershop in christchurch city.">
            <div class="col-lg-6 col">
                <h2>The Modern Man Difference:<br>Expert Groomsman Styling from Start to Finish</h2>
                <p>More than just barbers, our groomsman stylists take care of every detail, pulling out all the stops to ensure your big day is a success. </p>
                <p>From skin fades to straight shaves, beard trims, hot towels and everything in between. </p>
                <p>We’ll have you all looking your best at the end of the aisle.</p>
            </div>
        </div>
        <div class="row full-width text-center testimonial" aria-label="alt: A team photo of expert barbers in Christchurch CBD, the modern man team or barbers photographed at their barbershop at the crossing Next to barkers in Christchurch Central city">
            <div class="banner-content d-flex justify-content-center flex-column align-items-center">
                    <div class="col">
                    <img class="quote" src="/img/pages/icons/right-quote.webp" alt="left quote">
                    <p class="mt-4">If you want an epic cut with good quality chat, go and see Jordan and Kaywan,<br>Passionate about what they do and two bloody good humans.  </p>
                    <img class="quote" src="/img/pages/icons/left-quote.webp" alt="right quote" style="float:right">
                </div>
            </div>
        </div>
        <div class="row">
            <div>
              <h2 class="text-center">Frequently Asked Questions</h2>
              <div class="faq mt-4">
                <div class="accordion-item">
                  <h4 class="accordion-heading">What’s included in the groomsman package?</h4>
                  <div class="accordion-content">
                    <p>Yes, our barbershop allows walk-ins. Pop by at the Crossing in Christchurch CBD, and we'll squeeze you in between our other bookings.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-heading">How many groomsmen can be accommodated?</h4>
                  <div class="accordion-content">
                    <p>Yes, our barbershop allows walk-ins. Pop by at the Crossing in Christchurch CBD, and we'll squeeze you in between our other bookings.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-heading">Can we bring our own drinks and snacks?</h4>
                  <div class="accordion-content">
                    <p>Yes, our barbershop allows walk-ins. Pop by at the Crossing in Christchurch CBD, and we'll squeeze you in between our other bookings.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-heading">Can the groomsman package be booked on weekends or out of hours?</h4>
                  <div class="accordion-content">
                    <p>Yes, our barbershop allows walk-ins. Pop by at the Crossing in Christchurch CBD, and we'll squeeze you in between our other bookings.</p>
                  </div>
                </div>
                <div class="accordion-item">
                  <h4 class="accordion-heading">What type of entertainment is available?</h4>
                  <div class="accordion-content">
                    <p>Yes, our barbershop allows walk-ins. Pop by at the Crossing in Christchurch CBD, and we'll squeeze you in between our other bookings.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        
        <div class="gray text-center row bottom-section">
            <div class="col">
                <h2>Reserve a time to <br>refresh your groomsmen</h2>
                <a class="btn btn-primary" style="width: 300px; margin: 0px auto;" href="/pages/book/">Book now</a>
            </div>
            <img class="col" src="/img/pages/barbershop-christchurch-city.webp" alt="Expert Christchurch barber making finishing touches on groom styling before his wedding during a chch groomsman reservation.">
        </div>
        </div>
    </div>

    <!-- Add html for homepage above -->

    {{- partial "footer.html" . -}}

    <!-- Messenger Chat Plugin Code -->
    <div id="fb-root"></div>

    <!-- Your Chat Plugin code -->
    <div id="fb-customer-chat" class="fb-customerchat">
    </div>

    <!-- slow loading code folloed by Messenger Chat Plugin Code -->
<script>
  window.addEventListener('load', function() {
    setTimeout(function() {

      var chatbox = document.getElementById('fb-customer-chat');
      chatbox.setAttribute("page_id", "108991505207706");
      chatbox.setAttribute("attribution", "biz_inbox");

    <!-- Your SDK code -->
      window.fbAsyncInit = function() {
        FB.init({
          xfbml            : true,
          version          : 'v17.0'
        });
      };

      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));

    }, 3000); // Delay in milliseconds (3 seconds)
  });
</script>

    
    <script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
    <script>
        var mySwiper = new Swiper(".swiper-container", {
            direction: "horizontal",
            loop: true,
            speed: 550,
            autoplay: {
                delay: 6000,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

    <!-- Form submit js -->
    <script type="text/javascript">
        function redirectUser() {
            setTimeout(function(){
                window.location = "/pages/book/";
            }, 1000);
        }
    </script>

    <!-- faq js for accordion-->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
  var accordionItems = document.querySelectorAll(".accordion-item");

  accordionItems.forEach(function(item) {
    var heading = item.querySelector(".accordion-heading");
    var content = item.querySelector(".accordion-content");

    heading.addEventListener("click", function() {
      this.classList.toggle("active");
      content.classList.toggle("active");
    });
  });
});


    </script>
    <script>
    document.addEventListener("DOMContentLoaded", function() {
  var showMoreButton = document.querySelector(".show-more-button");
  var hiddenDivs = document.querySelectorAll(".hidden-div");

  // Hide the additional divs on page load
  hiddenDivs.forEach(function(div) {
    div.style.display = "none";
  });

  showMoreButton.addEventListener("click", function() {
    hiddenDivs.forEach(function(div) {
      div.style.display = div.style.display === "none" ? "block" : "none";
    });

    // Toggle the text of the button
    if (showMoreButton.innerText === "Show Less") {
      showMoreButton.innerText = "Show All";
    } else {
      showMoreButton.innerText = "Show Less";
    }
  });
});
    </script>
</body>

</html>