{{ define "main" }}
<style> .main { padding:0px !important; }</style>

<div style="background: url(/img/homepage/1.webp); background-repeat: no-repeat;
background-size: cover;" class="banner row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
    <div>
        <h1></h1>
        <p></p>
        <a class="btn btn-primary" href="/posts/"></a>
    </div>    
</div>
<div class="container">
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/2.webp" alt="">
        <div>
            <h3></h3>
            <p></p>
            <a href="" class="btn btn-secondary"></a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3></h3>
            <p></p>
            <a href="" class="btn btn-secondary"></a>
        </div>
        <img src="/img/homepage/3.webp" loading="lazy" alt="">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/4.webp"  loading="lazy" alt="">
        <div>
            <h3></h3>
            <p></p>    
            <a href="" class="btn btn-secondary"></a>
        </div>
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <div class="col gy-5">
            <h3></h3>
            <p></p>
            <a href="" class="btn btn-secondary"></a>
        </div>
        <img src="/img/homepage/5.webp" loading="lazy" alt="">
    </div>
    <div class="row row-cols-lg-2 row-cols-1 gy-3 align-items-center">
        <img src="/img/homepage/6.webp" loading="lazy" alt="">
        <div>
            <h2></h2>
            <p></p>  
            <a href="" class="btn btn-secondary"></a>  
        </div>
    </div>
</div>
{{ end }}

