<!DOCTYPE html>
<html lang="ja">

<head>
    {{- partial "head.html" . -}}
    <meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
    <meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
    <meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
    <meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
    <meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
    <meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
    <meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
    <meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
</head>

<body>
    {{- partial "alert.html" . -}}
    {{- partial "header.html" . -}}
    <div class="scroll-top rounded-full">
        <span class="icon-keyboard_arrow_up text-2xl"></span>
    </div>
    {{- partial "slide.html" . -}}
    {{- partial "strip.html" . -}}
    
    <!-- Add html for homepage here -->
    <div class="container">
        <div class="row full-width align-items-center top-banner text-center" aria-label="The modern man barbershop chairs, a Christchurch barbershop with expert chch city barbers located at the crossing next to barkers">
            <div class="banner-content">
                <h1>The Modern Man Barbershop<br>Cutting Edge Christchurch CBD Barbers</h1>
                <p>Specialist barber stylists located in the heart of the Christchurch CBD</p>
                <a class="btn btn-primary" href="https://bookings.gettimely.com/modernman/book?uri=https%3A%2F%2Fbook.gettimely.com%2FBooking%2FLocation%2F200736%3Fmobile%3DTrue%26params%3D%25253fclient-login%25253dtrue">Book now</a>
                <div class="mt-4">
                    <img style="display:block; margin:0px auto; max-width: 150px;" src="/img/pages/icons/reviews.webp" alt="reviews for modern man barbershop">
                    <p>47 Reviews</p>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div>
                <div class="row prices ">
                    <div class="col">
                        <div class="icon">
                            <img src="/img/pages/icons/clippers-barbershop-chch.webp" alt="">
                        </div>
                        <p>Groomsman Package</p>
                        <p>$ Price</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                            <img src="/img/pages/icons/clippers-barbershop-chch.webp" alt="">
                        </div>
                        <p>Groomsman Package</p>
                        <p>$ Price</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                        <img src="/img/pages/icons/beard-trim-barbershop.webp" alt="">
                    </div><p>Groomsman Package</p>
                        <p>$ Price</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                        <img src="/img/pages/icons/barbershop-razor.webp" alt="">
                    </div><p>Groomsman Package</p>
                        <p>$ Price</p>
                    </div>
                    <div class="col">
                        <div class="icon">
                        <img src="/img/pages/icons/full-groom-barber-styling.webp" alt="">
                        </div>
                        <p>Groomsman Package</p>
                        <p>$ Price</p>
                    </div>
                </div>
                <a style="text-decoration:underline;" href="#">Show All</a>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 co mob-reverse">
                <h2>Connect with your next go-to Christchurch barber</h2>
                <p>“Just the usual thanks mate”</p>
                <p>We go the extra mile to learn what you’re after and ensure every visit offers a chill break from the office, good chat, and an end result you’re stoked to leave with. </p>
                <p>Our friendly and award winning team of barbers are available 9-5 Monday to Saturday. Walk-ins available but bookings are encouraged. </p>
                <a class="btn btn-primary" href="https://bookings.gettimely.com/modernman/book?uri=https%3A%2F%2Fbook.gettimely.com%2FBooking%2FLocation%2F200736%3Fmobile%3DTrue%26params%3D%25253fclient-login%25253dtrue">Book now</a>
            </div>
            <img class="col-lg-6 col" src="/img/pages/kaywan-christchurch-city-barber.webp" alt="Kaywan, Christchurch Barber and co-owner of The Modern Man barbershop located at the Crossing Next to Barkers having a yarn with his regular client">
        </div>
        <div class="row">
            <img class="col-lg-6 col" src="/img/pages/jordan-chch-barber-shaving-clients.webp" alt="Jordan, co-owner of Modern Man barbershop, the best barbershop in chch CBD giving his regular client a trim.">
            <div class="col-lg-6 col">
                <h2>Christchurch Groomsman Party: <br>Unmatched Style, Unforgettable Memories</h2>
                <p>Our Christchurch Groomsman Party package is a one-of-a-kind service offering top-notch grooming, from tidy haircuts to clean shaves and beard trims in our premium lounge.</p>
                <p>It’s not your average barber visit, it’s a proper party! Kick back with a cold one and some kai, while we take care of the hard yards, creating your perfect wedding day look. This is the Modern Man difference - a service as unique as the kiwi blokes we serve.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col mob-reverse">
                <h2>We’ve got the chops to exceed expectations no matter what style you’re after. </h2>
                <p>Whether you’d like the usual, or you’re keen to try something new our your dedicated barber will do everything he can to bring the vision to reality.</p>
                <a style="text-decoration:underline;" href="https://www.instagram.com/modern.barbers/">See more of our work</a><br>
                <a class="btn btn-primary" href="https://bookings.gettimely.com/modernman/book?uri=https%3A%2F%2Fbook.gettimely.com%2FBooking%2FLocation%2F200736%3Fmobile%3DTrue%26params%3D%25253fclient-login%25253dtrue">Book now</a>
            </div>
            <img class="col-lg-6 col" src="/img/pages/chch-barbers-work-modern-man.webp" alt="The work of the barber team at the Modern Man barbershop located in Barkers At the Crossing, check out the work of these chch city barbers on these clients.">
        </div>
        <div class="row full-width text-center testimonial" aria-label="alt: A team photo of expert barbers in Christchurch CBD, the modern man team or barbers photographed at their barbershop at the crossing Next to barkers in Christchurch Central city">
            <div class="banner-content d-flex justify-content-center flex-column align-items-center">
                    <div class="col">
                    <img class="quote" src="/img/pages/icons/right-quote.webp" alt="left quote">
                    <p class="mt-4">If you want an epic cut with good quality chat, go and see Jordan and Kaywan,<br>Passionate about what they do and two bloody good humans.  </p>
                    <img class="quote" src="/img/pages/icons/left-quote.webp" alt="right quote" style="float:right">
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <h2 class="text-center">Frequently Asked Questions</h2>
                <div class="faq mt-4">
                    <div class="accordion-item">
                      <h4 class="accordion-heading">Do you allow walk-ins?</h4>
                      <div class="accordion-content">
                        <p>Yes, our barbershop allows walk-ins. Pop by at the Crossing in Christchurch CBD, and we'll squeeze you in between our other bookings.</p>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h4 class="accordion-heading">What products does the Modern Man barbershop use?</h4>
                      <div class="accordion-content">
                        <p>We use a range of high-quality grooming products tailored for men. Our barbers can recommend the best products for your specific needs.</p>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h4 class="accordion-heading">What services are available at the barbershop?</h4>
                      <div class="accordion-content">
                        <p>Our barbershop offers a variety of services, including haircuts, beard trims, hot towel shaves, and styling consultations. Visit us for a complete list of services.</p>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h4 class="accordion-heading">What payment methods are available?</h4>
                      <div class="accordion-content">
                        <p>We accept cash, credit cards, and mobile payment apps like Apple Pay and Google Pay. Choose the payment method that's most convenient for you.</p>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h4 class="accordion-heading">Where are you located?</h4>
                      <div class="accordion-content">
                        <p>We are located at The Crossing in Christchurch CBD. Our address is 123 Barber Street, Christchurch, New Zealand.</p>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h4 class="accordion-heading">Where should I park?</h4>
                      <div class="accordion-content">
                        <p>There are parking spaces available near our barbershop. You can find parking in the surrounding streets or use nearby parking lots.</p>
                      </div>
                    </div>
                  </div>                         
                </div>
            </div>
        
        <div class="gray text-center row bottom-section">
            <div class="col">
                <h2>Book now<br>to catch these hands</h2>
                <a class="btn btn-primary" style="width: 300px; margin: 0px auto;" href="https://bookings.gettimely.com/modernman/book?uri=https%3A%2F%2Fbook.gettimely.com%2FBooking%2FLocation%2F200736%3Fmobile%3DTrue%26params%3D%25253fclient-login%25253dtrue">Book now</a>

            </div>
            <img class="col" src="/img/pages/modern-man-team-of-christchurch-barbers-cbd.webp" alt="team of christchurch cbd barbers, ready to be your next go-to barber">
        </div>
        </div>
    </div>

    <!-- Add html for homepage above -->

    {{- partial "footer.html" . -}}
    <script src="{{ "/js/swiper-bundle.min.js" | relURL }}"></script>
    <script>
        var mySwiper = new Swiper(".swiper-container", {
            direction: "horizontal",
            loop: true,
            speed: 550,
            autoplay: {
                delay: 6000,
            },
            pagination: {
                el: ".swiper-pagination",
            },
            navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev",
            },
        });
    </script>

    <!-- Form submit js -->
    <script type="text/javascript">
        function redirectUser() {
            setTimeout(function(){
                window.location = "https://bookings.gettimely.com/modernman/book?uri=https%3A%2F%2Fbook.gettimely.com%2FBooking%2FLocation%2F200736%3Fmobile%3DTrue%26params%3D%25253fclient-login%25253dtrue";
            }, 1000);
        }
    </script>

    <!-- faq js for accordion-->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
  var accordionItems = document.querySelectorAll(".accordion-item");

  accordionItems.forEach(function(item) {
    var heading = item.querySelector(".accordion-heading");
    var content = item.querySelector(".accordion-content");

    heading.addEventListener("click", function() {
      this.classList.toggle("active");
      content.classList.toggle("active");
    });
  });
});


    </script>
</body>

</html>